<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="C:\Program Files\nodejs\node.exe"
                  arguments="server.js"
                  stdoutLogEnabled="true"
                  stdoutLogFile=".\logs\nodejs.log">
      <environmentVariables>
        <environmentVariable name="NODE_ENV" value="production" />
        <environmentVariable name="PORT" value="8081" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>